@media (min-width: 768px) {
  .fuseiq-mobile-menu,
  .block-fuseiq-mobile-menu {
    display: none !important;
  }
}


.mean-container .mean-bar {
  right: 0;
  width: 100%;
  position: absolute;
  background: transparent;
  padding: 0px 0;
  min-height: 35px;
}