{#
/**
* @file
* Default theme implementation to the pseudo field Title.
*
* Available variables:
* - pseudotitle: HTML for the pseudo field Title.
*
* @ingroup themeable
*/
#}
<div class="mobile-menu">{{ mobile_menu }}</div>